@import url("../css/root.css");

/*------------------------------------ remove all default spacing ------------------------------------*/
ul {
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*------------------------------------ flex related classes ------------------------------------*/

.gap-10 {
  gap: 10px;
}

.gap-23 {
  gap: 23px;
}

.gap-40 {
  gap: 40px;
}

/*------------------------------------ All spacing classes -------------------------------------*/

.pt-20 {
  padding-top: 20px;
}

.pt-22 {
  padding-top: 22px;
}

.pb-129 {
  padding-bottom: 129px;
}

/*------------------------------------ commen classes ------------------------------------------*/

/*------------------------------------ flex related classes ------------------------------------*/

.commen-btn {
  border: none;
  height: 53px;
  width: 180px;
  outline: none;
  border-radius: 79px;
  background: var(--btn-gradient);
  box-shadow: 0px 8px 30px 0px var(--color-1b);
}

/*------------------------------------ header footer or sections--------------------------------*/

.nav {
  background: var(--nav-bg);
}

.header {
  background-image: url("../images/png/hero-section.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  padding: 21px 0px;
}

.main-h {
  max-width: 1045px;
}

.join-btn {
  background: transparent;
  box-shadow: unset;
  border: 1px solid var(--white-color);
}

/*---------------------------------------------- menubar toggle---------------------------------------------------- */

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-1b);
}

#bar2 {
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/*-------------------------------------- section-1-------------------------------------*/
.section1{
background-image: url('../images/png/section1.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


/*------------------------------------ all media screens--------------------------------*/

@media (max-width: 1400px) {
  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/png/hero-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
  }

  .show {
    left: 0;
  }
}
