@import url("../css/root.css");

/*------------------------------------ remove all default spacing ------------------------------------*/
ul {
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

/*------------------------------------ flex related classes ------------------------------------*/

.gap-10 {
  gap: 10px;
}

.gap-23 {
  gap: 23px;
}

.gap-40 {
  gap: 40px;
}

/*------------------------------------ All spacing classes -------------------------------------*/

.pt-16 {
  padding-top: 16px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-22 {
  padding-top: 22px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-58 {
  padding-top: 58px;
}

.pb-68 {
  padding-bottom: 68px;
}

.pt-71 {
  padding-top: 71px;
}

.pb-110 {
  padding-bottom: 110px;
}

.py-123 {
  padding-top: 123px;
  padding-bottom: 123px;
}

.py-130 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.pb-129 {
  padding-bottom: 129px;
}

.py-228 {
  padding-top: 228px;
  padding-bottom: 228px;
}

.pt-300 {
  padding-top: 300px;
}

.pb-220 {
  padding-bottom: 220px;
}

.mb-59 {
  margin-bottom: 59px;
}

/*------------------------------------ commen classes ------------------------------------------*/

.mw-622 {
  max-width: 622px;
}

.mw-940 {
  max-width: 940px;
}

.mw-1024 {
  max-width: 1024px;
}

/*------------------------------------ flex related classes ------------------------------------*/

.commen-btn {
  border: none;
  height: 53px;
  width: 180px;
  outline: none;
  border-radius: 79px;
  background: var(--btn-gradient);
  box-shadow: 0px 8px 30px 0px var(--color-1b);
}

.z-1 {
  z-index: 1;
}

/*------------------------------------ header footer or sections--------------------------------*/

.nav {
  background: var(--nav-bg);
}

.header {
  background-image: url("../images/png/hero-section.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  padding: 21px 0px;
}

.main-h {
  max-width: 1045px;
}

.join-btn {
  background: transparent;
  box-shadow: unset;
  border: 1px solid var(--white-color);
}

/*---------------------------------------------- menubar toggle---------------------------------------------------- */

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-1b);
}

#bar2 {
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/*-------------------------------------- section-1-------------------------------------*/
.section1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/png/section1.png");
}

.col6-right {
  max-width: 369px;
}

/*-------------------------------------- section-2-------------------------------------*/

.gif-sec2 {
  max-width: 1320px;
  border-radius: 13px;
  border: 5px solid var(--color-1b);
}

.left-side-ecclips {
  left: 0;
  top: 43%;
}

.right-side-ecclips {
  right: 0;
  top: 43%;
}

/*-------------------------------------- section-3 -------------------------------------*/

.section3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/png/section3.png");
}

.game span::after {
  content: "";
  top: -76px;
  left: -108px;
  width: 102px;
  height: 102px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/png/upper-quote.png);
}

.game .game-txt::after {
  content: "";
  top: 0;
  left: 132px;
  width: 102px;
  height: 102px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-image: url(../images/png/bottom-quote.png);
}

/*-------------------------------------- section-4 -------------------------------------*/

.section4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/png/section4.png");
}

.token-card {
  border-radius: 13px;
  background: var(--token-gradient);
  transition: all 200ms linear;
}

/*-------------------------------------- section-6 -------------------------------------*/

.section6 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/png/section6.png");
}

.swap-list {
  list-style-type: disc !important;
  left: 24px;
}

.sec6-img {
  max-width: 348px;
}

.sec6-right {
  right: 0;
  top: 26%;
}

/*-------------------------------------- section-6 -------------------------------------*/
.powered-card {
  border: 1px solid;
  background: linear-gradient(
    110.75deg,
    rgba(255, 255, 255, 0.1) 0.01%,
    rgba(255, 255, 255, 0.03) 99.99%
  );
  border-radius: 24px;
  min-height: 214px;
}

/*------------------------------------ all hover effects--------------------------------*/

.token-card:hover,.powered-card:hover {
  border: none;
  background: var(--btn-gradient);
  box-shadow: 0px 8px 30px 0px var(--color-1b);
}

/*------------------------------------ all media screens--------------------------------*/

@media (max-width: 1400px) {
  .navbar-items {
    position: fixed;
    top: 0;
    left: -100%;
    height: 102vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/png/hero-section.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 0.5s;
  }

  .show {
    left: 0;
  }
}
